# ignore models and data inside submodules
*/models/**
!*/models/
!*/models/**/
!*/models/runs/
!*/models/runs/**

# keep utils models versioned
!utils/models/
!utils/models/**

*/data/
*/archive/
*/prod-model/

# keep application source versioned
!app/
!app/**

# but keep local app models out of git
app/app-models/

# notebooks junk
.ipynb_checkpoints/
__pycache__/
.DS_Store