# keep utils models versioned (code)
!utils/models/
!utils/models/**

# ignore artifact content inside models
*/models/**

# allow walking through models tree
!*/models/
!*/models/**/

# but keep unwanted artifact folders ignored
*/models/archive/
*/models/archive/**
*/models/**/checkpoints/
*/models/**/checkpoints/**

# keep runs tracked under model folders
!*/models/**/runs/
!*/models/**/runs/**

*/data/
*/archive/
*/prod-model/

# keep application source versioned
!app/
!app/**

# but keep local app models out of git
app/app-models/

# notebooks junk
.ipynb_checkpoints/
__pycache__/
.DS_Store
.vscode/
.conda/