# ignore models and data inside submodules
*/models/
*/data/
*/archive/
*/prod-model/

# keep application source versioned
!app/
!app/**

# but keep local app models out of git
app/app-models/

# notebooks junk
.ipynb_checkpoints/
__pycache__/
.DS_Store
